# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/
.vscode/
*.lock

# Android
android/.gradle/
android/local.properties
android/key.properties
*.jks
*.apk
*.aab

# iOS
ios/Pods/
ios/.symlinks/

# Misc
.DS_Store
*.swp
